body {
    color: #555;
    margin: 0 auto;
    max-width: 50em;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

p {
    text-wrap: wrap;
}

h2 {
    padding: 20px;
    color: #333;
}

div {
    padding: 20px;
} 

.emo {
    clear: left;
    /* display: flex; */
}

.palsta {
    /* flex: 1 */
    width: 40%;
    float: left;  
}